@media only screen and (max-width: 767px) {

    .wrap-top-account > ul > li {
        display: block;
        width:100%;
    }

    .see-products {
        display: none;
    }

    .wrap-top-account > ul > li:first-child h3 {
        font-size: 18px;
    }

    .cart-top {
        width:100%;
    }

    .header-callback, .header-callback:hover {
        margin-top: -3px;
        display: block;
    }

    .callback-popup {
        width:90%;
    }

    .callback-popup h4 {
        font-size: 18px;
    }

    .callback-popup form textarea {
        height:75px;
    }

    .confidenc li {
        width:100%;
        display: block;
    }

    .file-popup span {
        display: block;
    }

    .callback-popup form .field-form-application li {
        width:100%;
        display: block;
    }

    .callback-popup form {
        margin: 0 10px;
    }

    .field-form-application {
        margin-top: 10px !important;
    }

    .callback-popup form .field-form-application li {
        margin-bottom: 10px;
    }

    .btn-send-form {
        margin-top: 10px;
    }

    .logo-callback {
        margin: 30px 0;
    }

    .wrap-top-account > ul > li:last-child p {
        padding: 0;
        font-size: 14px;
    }

    .wrap-background ul li:first-child a {
        width:80%;
    }

    .wrap-question-order {
        padding: 20px 10px;
    }

    .wrap-question-order > ul > li a, .wrap-question-order > ul > li a:hover {
        padding-left: 40px;
        font-size: 12px;
    }

    .wrap-question-order h3 a, .wrap-question-order h3 a:hover {
        padding-left: 25px;
    }

    .wrap-app-mobile ul li a, .wrap-app-mobile ul li a:hover {
        padding-left: 50px;
    }

    .wrap-app-mobile ul li:first-child a:before, .wrap-app-mobile ul li:last-child a:before {
        left:15px;
    }

    .wrap-question-order > ul > li a:before {
        left:5px;
    }

    .tabs-account ul li {
        display: block;
        width:100%;
    }

    .one-order-account ul {
        width:100% !important;
    }

    .list-orders-account > ul {
        padding-left: 0;
    }

    #navbar > ul > li:nth-last-child(-n+2) {
        float:none;
        padding-left: 15px;
    }

    .wrap-bonus-account .tabs-account ul li {
        width:40%;
        display: inline-block;
    }

    .table-table-account li {
        width:30% !important;
    }

    .table-table-account li a {
        font-size: 14px !important;
        line-height: inherit !important;
    }

    .table-table-account ul {
        margin-top: 0 !important;
    }

    .wrap-description-bonus, .wrap-rules, .wrap-notification-account ul {
        padding-left: 10px;
    }

    .wrap-notification-account ul {
        text-align: center;
    }

    .wrap-notification-account ul li:first-child {
        width:auto;
    }

    .type-order li {
        display: block;
        width:100%;
        margin-bottom: 10px;
    }

    .wrap-status-order {
        padding:20px 10px 70px 65px;
    }

    .cancel-order {
        width:120px;
        right:5px;
        bottom: 40px;
        font-size: 13px;
    }

    .wrap-status-order:before {
        height:86%;
        left:25px;
    }

    .wrap-info-account-page2 {
        padding-left: 0;
    }

    .wrap-info-account-page input[type="submit"] {
        float:none;
        margin:0 auto;
    }

    .wrap-info-bonus, .wrap-content-rules {
        padding-right: 0;
    }

    #auth, #status {
        width:90%;
        padding: 0 10px;
    }

    .wrap-content-auth form input[type="text"], .wrap-content-auth form input[type="email"] {
        width:84%;
    }

    .wrap-content-auth form ul li {
        width:50%;
        display: block;
    }

    .wrap-content-auth form ul li {
        width:84%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .wrap-content-auth form ul li input {
        width:54%;
    }

    .wrap-content-auth span:not(.error-field) {
        display: block;
    }

    .wrap-content-auth form ul li input {
        width:100%;
    }

    .info-message {
        width:100%;
        margin-top: 85px;
    }

    .btn-check-status, .btn-check-status:hover {
        width:84%;
    }

    .callback-popup form textarea {
        width:100%;
        border: 1px solid #C0C8CE;
    }

    .style-label {
        padding-left: 0 !important;
    }


    .cancel-order, .cancel-order:hover {
        position: relative;
        bottom: inherit;
        float:right;
        margin-top: 10px;
    }

}

@media only screen and (min-width: 768px)  and (max-width: 959px) {

    #navbar > ul > li:nth-last-child(-n+2) {
        float:none;
    }

    #navbar > ul > li:nth-last-child(-n+2) a {
        font-size: inherit;
        text-transform: uppercase;
    }

    .wrap-top-account > ul > li {
        width:100%;
        display: block;
    }

    .tabs-account ul li a, .tabs-account ul li a:hover {
        font-size: 12px;
    }

    .list-orders-account > ul {
        padding-left: 0;
    }

    .list-products {
        width:95% !important;
    }

    .wrap-info-account-page2 {
        padding-left: 0;
    }

    .cart-top {
        width:none;
    }


}