select{-webkit-appearance:none;}
#filter-form .dropdown,a.dropdown{border-radius:1px;height:52px;border:none;margin:1px 0;float:none;cursor:pointer;background:url(../img/select-arrow.png) 90% center no-repeat #eaeff3;font-family:'OpenSans-light';color:#3b4249;font-size:14px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-transition:all 0.5s ease;-moz-transition:all 0.5s ease;-o-transition:all 0.5s ease;transition:all 0.5s ease;}
select::-ms-expand{display:none;}
#filter-form .dropdown:hover,#filter-form .dropdown:active,#filter-form .dropdown:focus{-moz-box-shadow:0 0 60px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 60px rgba(0,0,0,0.3);box-shadow:0 0 60px rgba(0,0,0,0.3);}
#filter-form .col-lg-3{max-width:241px;padding:0;display:inline-block;float:none;}
#filter-form .col-lg-2{    padding: 3px;
    display: inline-block;}
#filter-form .dropdown{width:100%;}
a.dropdown{display:inline-block;text-decoration:none;text-align:left;line-height:52px;max-width:none;}