@font-face{font-family:'OpenSans-light';src:url("../fonts/OpenSans-Light.eot");src:url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
url("../fonts/OpenSans-Light.ttf") format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'OpenSans-semibold';src:url("../fonts/OpenSans-Semibold.eot");src:url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
url("../fonts/OpenSans-Semibold.ttf") format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'OpenSans-bold';src:url("../fonts/OpenSans-Bold.eot");src:url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
url("../fonts/OpenSans-Bold.ttf") format("truetype");font-weight:400;font-style:normal}
@font-face{font-family:'OpenSans-regular';src:url("../fonts/OpenSans-Regular.eot");src:url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
url("../fonts/OpenSans-Regular.ttf") format("truetype");font-weight:400;font-style:normal}
html,body{height:100%;}
a[x-apple-data-detectors]{color:inherit !important;text-decoration:none !important;font-size:inherit !important;font-family:inherit !important;font-weight:inherit !important;line-height:inherit !important;}
body{font-family:'OpenSans-light';color:#111417;}
h2{font-family:'Opensans-regular';}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{border-spacing:4px;}
.tr{text-align:right;}
.top-navbar{height:37px;width:100%;border-bottom:1px solid #dee1e4;}
.top-navbar ul{list-style:none;padding:0 15px;margin-bottom: 0;}
.top-navbar ul li{float:left;display:block;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus{background-color:transparent !important;color:#fff;text-decoration:underline;}
#filter-form .open>.dropdown-menu{width:100%;}
.logo{margin-bottom:10px;}
.logo-text{margin-top:10px;font-family:'OpenSans-semibold';color:#586979;font-size:10px;text-transform:uppercase;}
.logo-text:hover{text-decoration:none;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{background-color:transparent;}
@media (max-width:767px){
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{color:#fff;margin-left:15px;}
	#navbar .dropdown-menu{
		display: block;
	    position: relative;
	    /* clear: both; */
	    border: none;
	    box-shadow: none;
	    padding-left: 20px;
	}
}
.top-navbar ul li a,.top-navbar ul li span{color:#1f1f1f;font-size:13px;font-weight:300;line-height:38.185px;display:inline;border-left:1px solid rgba(88, 105, 121, 0.3);padding:0 14px;}
.top-navbar ul li span{text-decoration: underline;}
.top-navbar ul li:first-child a,.top-navbar ul li:first-child span{border:none;padding-left:0px;}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{border-color:transparent;}
.header{padding:0 15px 0;position:relative;margin-top:25px;}
.header .logo{text-align:center;}
.header .logo a{display:inline-block;}
.header .bordered{border-left:1px solid rgba(88, 105, 121, 0.3);}
.header .delivery-block{max-width:250px;}
.header .delivery{
	font-family: 'OpenSans-light';
	line-height:25px;
	background:url(../img/icons/delivery.png) top left no-repeat;
	display:inline-block;
	    color: #1f1f1f;
    font-size: 13px;
    font-weight: 300;
}
.header .delivery span{padding-left:50px;}
.header .timework-block{width:230px;}
.header .timework{font-family:'OpenSans-regular';color:#101417;font-size:18px;font-weight:400;display:inline-block;}
.timework span{color:#1c2732;font-size:13px;font-weight:300;background:url(../img/icons/time.png) top left no-repeat;padding-left:32px;height:22px;display:block;}
.callback{font-family:'OpenSans-regular';color:#101417;font-size:17px;font-weight:400;display:inline-block;position: relative;}
.callback>span{
	font-family: 'OpenSans-light';
	line-height:25px;
	color: #1f1f1f;
    font-size: 13px;
    font-weight: 300;
}
.callback .btn{color:#9d0023;font-size:13px;font-weight:300;text-decoration:underline;display:block;text-align:right;height:22px;background:url(../img/icons/callback.png) top left no-repeat;}
.callback .btn{color:#9d0023;font-size:13px;font-weight:300;text-decoration:underline;text-align:center;height:auto;background:none;}
.callback .btn:hover{text-decoration:none;}
.cart-top{color:#1d2832;font-family:'OpenSans-regular';font-size:11px;text-align:right;}
.cart-top-icon{width:47px;height:35px;display:inline-block;margin-right:20px;float:left;vertical-align:middle;background:url(../img/icons/cart.png) top left no-repeat;text-align:center;font-style:normal;font-family:'OpenSans-semibold';font-size:20px;}
.cart-top-price{font-size:22px;}
.header-phone{color:#fff !important;font-size:22px;}
.header-callback,.header-callback:hover{margin-left:15px;color:#fff;}
.categories-menu{background-color:#9f0226;height:54px;margin-top:15px;}
.categories-menu .nav{background-color:#9f0226;}
.categories-menu .container,.categories-menu #navbar,.categories-menu .container ul{padding:0;}
.categories-menu .navbar-default{background-color:transparent;border-color:transparent;z-index:999;margin-bottom:0;}

.categories-menu .navbar-default .navbar-nav>li>a,.categories-menu .navbar-default .navbar-nav>li>span{font-family:'OpenSans-regular';color:#ffffff;font-size:16px;text-transform:uppercase;border-left:1px solid rgba(255,255,255,0.3);height:16px;padding:0 20px;}
.categories-menu .navbar-default .navbar-nav>li:first-child>a,.categories-menu .navbar-default .navbar-nav>li:first-child>span{border:none;}
.categories-menu .navbar-default .navbar-nav>li>a:hover{color:#fff;text-decoration:underline;}
.categories-menu .navbar-default .navbar-nav>li>span{
	
    display: block;
    line-height: 50px;
    height: 50px;
}
.categories-menu .navbar-default .navbar-nav>li.active>span{
	text-decoration: underline;
	}
.categories-menu .navbar-default .navbar-nav>.active>a,
.categories-menu .navbar-default .navbar-nav>.active>a:hover,
.categories-menu .navbar-default .navbar-nav>.active>a:focus{color:#ffffff;background-color:transparent;text-decoration:underline;}
.categories-menu .dropdown .dropdown-menu{background:#9f0226;}
.categories-menu .dropdown .dropdown-menu a,.categories-menu .dropdown .dropdown-menu span{color:#fff;font-family:'OpenSans-regular';font-size:14px;}
.categories-menu .dropdown .dropdown-menu a:hover{color:#262626;font-family:'OpenSans-regular';font-size:14px;}
.categories-menu .dropdown .dropdown-menu span{text-decoration: underline;}
.dropdown-menu>li>span{
	    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
}
.carousel .item{text-align:center;z-index:99;max-height: 363px;}
.carousel .item img{display:inline-block;}
.carousel .container{max-height:572px;position:relative;padding:0;height:100%;}
.carousel .carousel-control{background:transparent;min-width:15%;width:auto;z-index:99;}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right{margin-right:0;}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left{margin-left:0;}
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-prev,
.carousel-control .icon-next{    width: 32px;
    height: 50px;
    padding: 5p;
    //border-radius: 5px;
    //background: url(../img/slide-arrow.png) center #000 no-repeat;
    opacity: 1;}
/*.glyphicon-chevron-right:before,.glyphicon-chevron-left:before{content:"";}*/
.carousel-indicators{
	z-index: 99;
}
.carousel-control .glyphicon-chevron-left,

.carousel-control .glyphicon-chevron-left:hover,
.carousel-control .glyphicon-chevron-right:hover,
.carousel-control .icon-prev:hover,
.carousel-control .icon-next:hover{opacity:1;}
.carousel-caption{background-color:rgba(4, 0, 1, 0.65);width:100%;max-height:60%;padding:30px;position:absolute;left:0;top:20%;z-index:9999;}
.carousel-caption span{font-family:'OpenSans-regular';color:#ffffff;font-size:34px;font-style:italic;text-align:center;display:block;}
.carousel-caption p{margin:30px auto;width:70%;color:#ffc0ba;font-size:18px;font-weight:300;line-height:27px;text-align:center;}
.carousel-caption a{font-family:'OpenSans-regular';color:#ffffff;font-size:14px;font-weight:400;text-decoration:underline;font-style:italic;position:relative;display:inline-block;padding-right:20px;}
.carousel-caption a:after{position:absolute;right:0;top:0;content:' ';display:block;background:url(../img/icons/to-catalog.png) center center no-repeat;width:8px;height:20px;}
.carousel-caption a:hover{text-decoration:none;}
.hicon{display:block;height:39px;background:url(../img/icons/hlogo.png) center center no-repeat;margin-top:24px;}
.title{font-size:26px;line-height: 23px;font-weight:300;text-align:center;text-transform:uppercase;//margin:12px 0 35px;}
.title:before,.title:after{content:' ';display:block;margin:8px auto;background-color:#6b6c6d;width:283px;height:1px;}
.description{max-width:785px;margin:0 auto;font-size:15px;font-weight:300;line-height:22px;text-align:center;}
#filter-form{text-align:center;margin-top:21px;z-index:1;}
.catalog{margin-top:33px;position:relative;text-align:center;}
.catalog .col-lg-3,.catalog .col-lg-2{padding-right:2px;padding-left:2px;}
.catalog .product{float:none;box-sizing:border-box;position:relative;margin-top:4px;background-color:#fff;text-align:left;overflow:hidden;//height:343px;}
.catalog .product .product-inner{padding:8px 23px 0;border-radius:1px;border-style:solid;border-width:1px;border-color:#ced4da;}
.catalog .product:hover .product-inner{border-bottom:none;-moz-box-shadow:0 0 60px rgba(0,0,0,0.3);-webkit-box-shadow:0 0 60px rgba(0,0,0,0.3);box-shadow:0 0 60px rgba(0,0,0,0.3);}
.catalog .product:hover{z-index:4;overflow:visible;}
.catalog .product>.catalog-buttons{background:#fff;border-radius:1px;border-style:solid;border-width:1px;border-color:#ced4da;border-top:transparent;-moz-box-shadow:0 35px 60px rgba(0,0,0,0.3);-webkit-box-shadow:0 35px 60px rgba(0,0,0,0.3);box-shadow:0 35px 60px rgba(0,0,0,0.3);}
.catalog .product .catalog-buttons{display:none;}
.catalog .product .one-click{font-family:'OpenSans-regular';color:#da5143;font-size:13px;text-decoration:underline;display:none;cursor:pointer;}
.catalog .product:hover .catalog-buttons{display:inline-block;width:100%;margin-top:0;border-top:none;}
.catalog .product:hover .one-click{display:inline-block;margin-top:10px;margin-bottom:8px;}
.catalog .product .one-click:hover{text-decoration:none;}
.catalog .product:hover .white-button{display:inline-block;margin-top:20px;float:none;margin-bottom:0;}
.cart-catalog .product:hover .white-button{margin-bottom:14px;}
.catalog .product-size{color:#555e68;font-size:13px;overflow:hidden;display:inline-block;height:14px;}
.products-slider .lslide{padding:4px;}
.products-slider{overflow:visible !important;}
.product-label{display:block;position:absolute;top:0;right:0;height:32px;line-height:32px;color:#ffffff;font-size:18px;padding:0 8px;}
.product-label i{display:block;float:left;padding-right:8px;margin-right:8px;border-right:1px solid rgba(255, 255, 255, 0.3);font-style:normal;}
.product-sale{background-color:#fa887d;}
.product-newest{background-color:#519420;}
.product-hit{background-color:#9f0226;}
.size-box-in{position:absolute;right:0;font-size:12px;z-index:1000;top:0;}
.h-size{position:relative;padding-top:7px;padding-left:7px;background:url(../img/h.png) no-repeat;height:32px;float:right;margin-left:5px;margin-right:5px;color:#909090;font-size:11px;}
.w-size{position:relative;padding-left:0px;background:url(../img/w.png) no-repeat;height:32px;width:32px;float:right;border-spacing:0px;color:#909090;background-position-y:20px;font-size:11px;background-position-x:1px;background-position:1px 20px;}
.line-trough{color:#fa8f85;text-decoration:line-through;display:inline;}
.line-trough span{color:#3b4249;}
.catalog .product-oldprice{position:absolute;right:8px;top:32px;font-size:12px;min-height: 24px;display: block;}
.catalog .product-oldprice b{font-family:'OpenSans-regular';font-size:17px;font-style:normal;}
.catalog .product-img{margin:23px auto 0;max-height:200px;}
.catalog .img-wrap{height:200px;display:block;vertical-align:middle;text-align:center;}
.cart-catalog .product-img{display:inline-block;}
.catalog .product-title{text-align:center;margin-top:23px;height:44px;}
.catalog .product-title a{color:#3b4249;text-transform:uppercase;font-size:16px;}
.catalog .product-price{font-size:20px;margin-top:10px;}
.catalog .product-price .glyphicon{color:#fa887d;}
.catalog .product-price b{font-family:'OpenSans-regular';font-size:24px;font-style:normal;}
.catalog .product-price b i{
	font-weight: 100;
    font-size: 18px;
}
.red-button{border-radius:1px;background-color:#9f0226;width:228px;height:52px;line-height:52px;color:#ffffff;font-size:16px;text-align:center;display:block;margin:17px auto 25px;}
.red-button:hover{color:#9f0226;background:#fff;border:1px solid #9f0226;text-decoration:none;}
.red-button span{display:block;float:left;margin-left:33px;}
.red-button-arrow{display:block;float:left;margin-left:8px;width:8px;height:100%;background:url(../img/catalog-button-arrow.png) center no-repeat;}
.why-we-block{margin-bottom:10px;//height:340px;}
.why-we-img{width:123px;height:122px;line-height:122px;text-align:center;display:block;margin:0 auto;}
.why-we-img img{display:inline-block;}
.why-we-title{font-size:20px;text-align:center;display:inline-block;text-transform:uppercase;min-height:56px;width:100%;}
.why-we-description{color:#3b4249;font-size:15px;text-align:left;}
.white-button{display:inline-block;border-radius:1px;border-style:solid;border-width:1px;border-color:#9f0226;box-sizing:border-box;height:47px;line-height:47px;margin:45px auto 0;font-family:'OpenSans-regular';color:#9f0226;font-size:14px;text-align:center;padding:0 22px;background:#fff;min-width:234px;cursor:pointer;}
.white-button.bold{text-transform:uppercase;border-width:2px;font-family:'OpenSans-semibold';font-size:17px;}
.text-center .white-button{margin-bottom:30px;}
.why-we-arr{display:block;float:right;background:url(../img/why-we-arr.png) center 55% no-repeat;width:11px;height:100%;margin-left:7px;}
.white-button:hover{text-decoration:none;color:#fff;background:#9f0226;}
.white-button:hover .why-we-arr{background:url(../img/all-photos-arr.png) center 55% no-repeat;}
.photos,.photos .col-xs-6{padding:0;}
.photos-line{display:block;height:3px;background:#fd897f;}
.nav-tabs{border:none;}
.nav-tabs>li>a{border:none;}
.nav-tabs>li:first-child a{text-align:right;}
.nav-tabs>li:last-child a{text-align:left;}
.nav-tabs>li>a{font-size:18px;color:#111417;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,.nav-tabs>li>a:hover{border-radius:1px;background-color:#fd897f;border:none;cursor:default;color:#fff;font-size:18px;}
.nav-tabs>li>a:hover{cursor:pointer;}
.photos ul{list-style:none;padding:0;}
.photos .tab-pane{position:relative;}
//.photos-ico{display:inline-block;background:url(../img/icons/photos.png) center no-repeat;}
.photos .tab-content{background:url(../img/photos-bg.jpg) top center no-repeat;position:relative;text-align:center;}
.photos .tab-content p,.photos .tab-content p a{
	color: #fff;
}
.photos .photo{overflow:hidden;margin-top:58px;display:inline-block;border:6px solid #fff;max-width:100%;}
/*.photos p{color:#fff;}
.photos p>a{color:#fff;}*/
.all-objects-button{display:inline-block;border-radius:1px;border-style:solid;border-width:1px;border-color:#ffffff;box-sizing:border-box;padding:0 38px;height:47px;line-height:47px;font-family:'OpenSans-regular';color:#ffffff;font-size:14px;margin:30px 0 51px;}
.photos .all-objects-button{margin:10px 0 10px;}
.all-objects-arr{display:block;float:right;background:url(../img/all-photos-arr.png) center 55% no-repeat;width:11px;height:100%;margin-left:7px;}
.all-objects-button:hover{text-decoration:none;color:#fff;background:#9f0226;border-color:#9f0226;}
.testimonials{max-width:1200px;margin:0 auto;}
.testimonials .lSSlideOuter{position:relative;}
.testimonials .lSSlideWrapper{
	    max-width: 95%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
}
.testimonials-slider{margin:37px 0 24px !important;overflow:visible !important;list-style: none;}

.testimonials .photo{
	display:inline-block;
	text-align: center;
	/*border-radius:50%;
	border-style:solid;
	border-width:1px;
	border-color:#797e82;
	box-sizing:border-box;
	width:108px;
	height:108px;*/
	overflow:hidden;vertical-align:top;}
.testimonials .testimonial-content{display:inline-block;margin-left:11px;margin-bottom:20px;}
.testimonials .testimonial-header{padding:0 33px;}
.testimonials .testimonial-title{display:block;float:left;font-family:'OpenSans-regular';color:#9f0226;font-size:16px;}
.testimonials .testimonial-date{display:block;float:right;font-family:'OpenSans-regular';font-size:13px;}
.testimonials .testimonial-text{margin-top:5px;float:left;border-radius:3px;background-color:#ebebeb;padding:25px 33px;position:relative;max-width:370px;font-size:14px;text-align:left;}
.testimonials .testimonial-text p{position:relative;}
.testimonials .testimonial-text:before{content:"";position:absolute;top:0;left:-12px;border:12px solid transparent;border-color:transparent;border-right:12px solid #ebebeb;border-top:12px solid #ebebeb;}
.about{/*background:url(../img/about-bg.png) left bottom no-repeat;*/background-color:rgba(235, 235, 235, 0.5);}
.about-icon{display:block;height:58px;background:url(../img/icons/about.png) center top no-repeat;}
.about p{color:#3b4249;font-size:14px;line-height:22px;margin-bottom:20px;}
.media:first-child{margin-top:15px;}
.news .media{min-height:200px;}
.content .news .media:nth-child(2n+3){
	clear: both;
}
.news .media-left{vertical-align:top;}
.news .media img{width:112px;height:112px;}
.news .media-body{font-size:14px;}
.news .media-date{font-size:13px;}
.news .media-heading{font-family:'OpenSans-semibold';text-transform:uppercase;display:block;color:#3b4249;}
.news-btn{display:inline-block;width:auto;padding:0 33px;margin-top:60px;}
.news-btn span{margin-left:0;}
.shops{background:url(../img/shops-bg.jpg) center top no-repeat;text-align: center;    background-size: cover;}
.shops a{margin-top:0}
.hicon-white{background-image:url(../img/hicon-white.png);}
.shops .title{color:#fff;margin-bottom:46px;}
.shops .title:before,.shops .title:after{background-color:#fff;}
.shops .shop{vertical-align: top; float:none;color:#fff;border-right:1px solid rgba(255, 255, 255, 0.3);padding-bottom:10px;margin-bottom:10px;display: inline-block;}
.shops .shop:nth-child(3n+2){border:none;/*margin:0 auto;float:none;clear:both;*/}
.shops .shop:last-child{border:none;}
.shops .shop .shop-geo{display:block;background:url(../img/icons/shop-geo.png) left top no-repeat;padding-left:31px;margin-bottom:14px;font-size:16px;}
.shops .shop .shop-geo b{font-family:'OpenSans-semibold';font-style:normal;}
.shops .shop .shop-phone{display:block;background:url(../img/icons/shop-phone.png) left top no-repeat;padding-left:31px;line-height:18px;font-size:18px;font-family:'OpenSans-semibold';}
.shops .all-objects-button{//margin-top:66px;}
.footer{padding-top:40px;padding-bottom:40px;}
.footer .copyright{}
.footer .copyright span{font-size:16px;}
.footer .copyright span b{font-family:'OpenSans-semibold';}
.footer .copyright .icons{margin-top:26px;margin-bottom:26px;}
.footer .copyright .icons i{display:inline-block;width:32px;height:32px;margin:0 2px;background-image:url(/img/payment-icons.png);background-repeat:no-repeat;}
.footer .copyright .icons-visa{background-position:-32px -32px;}
.footer .copyright .icons-yad{background-position:-129px -64px;}
.footer .copyright .icons-wm{background-position:-129px -32px;}
.footer .copyright .icons-nal{background-position:-129px 0;}
.footer .copyright .icons-ac{background-position:-96px -96px;}
.footer .copyright .icons-sb{background-position:-64px -96px;}
.footer .copyright .icons-qiwi{background-position:0 -96px;}
.footer .copyright a img{
	max-width: 100%;
}
.footer .menu span,.footer .titlesoc{font-family:'OpenSans-regular';font-size:16px;text-transform:uppercase;display:block;margin-bottom:7px;}
.footer .menu ul{list-style:none;padding:0;margin:0;}
.footer .menu ul li{border-top:1px solid rgba(154, 154, 154, 0.5);padding:7px 0;}
.footer .menu ul li a,.footer .menu ul li span{font-size:14px;line-height:22px;color:#111417;}
.footer .menu ul li span{text-decoration: underline;margin-bottom: 0;text-transform: none;}
.footer .contacts{text-align:right;}
.footer .contacts .phone{font-family:'OpenSans-regular';font-size:22px;display:block;}
.footer .contacts .callback-btn{font-family:'OpenSans-regular';color:#fa8f85;font-size:14px;text-decoration:underline;display:block;text-align:right;}
.footer .contacts .callback-btn:hover{text-decoration:none;}
.footer .soc-line{display:inline-block;background-color:rgba(154, 154, 154, 0.5);width:63px;height:1px;margin-top:30px;}
.footer .titlesoc{display:block;}
.footer .contacts .soc{width:41px;height:39px;display:inline-block;background:url(../img/social.png);margin:0 5px;}
.footer .contacts .vk:hover{background-position:0 39px;}
.footer .contacts .fb{background-position:91px 0;}
.footer .contacts .fb:hover{background-position:91px 39px;}
.footer .contacts .ig{background-position:41px 0;}
.footer .contacts .ig:hover{background-position:41px 39px;}
.breadcrumbs{background-color:transparent;padding:16px 30px;}
.breadcrumbs a{color:#111417;font-size:14px;}
.breadcrumbs div{display: inline-block;}
.breadcrumbs .active a:after{content:"";margin:0 5px;display:inline-block;width:28px;height:9px;background:url(../img/breadcrumb-arr.png);}
.left-sidebar ul{list-style:none;padding:0;padding-left:15px;margin:0;}
.left-sidebar ul li{display:block;border-radius:1px;background-color:#eaeff3;width:100%;height:52px;margin-bottom:2px;}
.left-sidebar ul li a,.left-sidebar ul li div{display:block;width:100%;height:100%;padding:16px 23px;color:#3b4249;font-size:16px;}
.left-sidebar ul li a:hover,.left-sidebar ul li a:focus,.left-sidebar ul li a:active,.left-sidebar ul li div.active{color:#fff;text-decoration:none;background-color:#9f0226;}
.left-sidebar ul li a:hover:after,
.left-sidebar ul li a:focus:after,
.left-sidebar ul li a:active:after,
.left-sidebar ul li div.active:after{content:"";display:inline-block;width:8px;height:13px;margin-left:8px;background:url(../img/catalog-button-arrow.png) center no-repeat;}
.content .content-title{text-align:left;font-size:22px;text-transform:uppercase;margin-bottom:30px;}
.content .content-subtitle{color:#677785;font-size:21px;text-decoration:underline;display:block;margin-bottom:25px;}
.content p,.content span,.content big{font-size:15px;line-height:22px;font-family:'OpenSans-Light';}
.text-page{min-height:700px;background:url(../img/oplata-bg.png) left bottom no-repeat;}
.pager{text-align:center !important;clear:both;}
.pagination{margin:20px 0 60px;}
.pagination>li{display:inline-block;}
.pagination>li>a{color:#9f0226;border-color:#9f0226;}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus{z-index:2;color:#fff;background-color:#9f0226;border-color:#9f0226;}
.pagination>.selected>a, .pagination>.selected>span, .pagination>.selected>a:hover, .pagination>.selected>span:hover, .pagination>.selected>a:focus, .pagination>.selected>span:focus{z-index:3;color:#fff;background-color:#9f0226;border-color:#9f0226;cursor:default;}
.thumbnails{float:left;position:relative;z-index:1;width:20%;}
.thumbnails a{display:block;border-radius:1px;border:2px solid #bdc5cc;width:43px;height:40px;margin-bottom:11px;cursor:pointer;}
.thumbnails a.active{border:2px solid #9f0226;}
.thumbnails a img{width:100%;height:100%;}
.product-page-img{position:relative;text-align:center;width:80%;float:left;}
.product-right .content-title{margin-top:0;margin-bottom:45px;max-width: 400px;font-size: 36px;}
.product-right .product-label{position:absolute;right:0;top:0;}
.product-right .variant-btn{display:block;background: #bdc5cc;float:left;border-radius:1px;border-style:solid;border-width:2px;border-color:#bdc5cc;box-sizing:border-box;width:140px;color:#3b4249;font-size:16px;text-align:center;cursor:pointer;}
.product-right .variant-btn.roses{
    width: 55px;
    padding: 5px 15px;
    margin: 1px;
    
}

.product-right .variant-btn i{font-style:13px;}
.product-right .variant-btn.first{border-right:none;}
.product-right .variant-btn.active,
.product-right .variant-btn:hover,
.product-right .variant-btn:focus,
.product-right .variant-btn:active{border-radius:1px;background-color: #fff;text-decoration:none;}
.count{margin-top:20px;margin-left:30px;    line-height: 30px;}
.roses-text{
	font-size: 14px;
	font-family:'OpenSans-regular';
	color:#3b4249;
	font-style: italic;
}
.count>div{float:left;font-family:'OpenSans-regular';color:#3b4249;line-height:30px;}
.count .count-control{font-size:28px;cursor:pointer;}
.count .count-num{border-radius:1px;border-style:solid;border-width:1px;border-color:#d1dbe3;box-sizing:border-box;background-color:rgba(0, 0, 0, 0);width:33px;height:33px;font-size:20px;text-align:center;margin:0 14px;}
.product-right .product-price{font-size:22px;margin-top:35px;display:none;}
.product-right .product-price.active{display:block;}
.product-right .product-price .glyphicon-ruble{color:rgb(250, 143, 133);font-size:25px;}
.product-right .product-price b{font-size:33px;}
.product-buttons{margin-top:20px;}
.product-buttons .white-button{float:left;margin-top:0;padding:0 40px;margin-bottom:10px;margin-right:8px;}
.product-buttons .red-button{width:auto;float:left;margin-top:0;}
.product-buttons .red-button{display:inline-block;border-radius:1px;border-style:solid;border-width:1px;border-color:#9f0226;box-sizing:border-box;height:47px;line-height:47px;margin:0 auto 0;font-family:'OpenSans-regular';color:#ffffff;font-size:14px;text-align:center;padding:0 12px;}
.product-buttons .red-button-arrow{display:block;float:right;background:url(../img/catalog-button-arrow.png) center 55% no-repeat;width:11px;height:100%;margin-left:7px;}
.product-buttons .red-button:hover{text-decoration:none;color:#9f0226;background:#fff;}
.product-buttons .red-button:hover .red-button-arrow{background:url(../img/why-we-arr.png) center 55% no-repeat;}
.product-right .panel-group{margin-top:35px;}
.product-ico1,.product-ico2,.product-ico3,.product-right .glyphicon-ruble{display:inline-block;width:27px;height:17px;color:rgb(250, 143, 133);}
.panel-body p,.panel-body span{font-family:'OpenSans-Light' !important;font-size:14px !important;}
.product-ico1{background:url(../img/icons/product-ico1.png) left center no-repeat;}
.product-ico2{background:url(../img/icons/product-ico2.png) left center no-repeat;}
.product-ico3{background:url(../img/icons/product-ico3.png) left center no-repeat;}
.product-right .panel-title{font-family:'OpenSans-regular';font-size:16px;text-transform:uppercase;}
.product-right .panel-title a{display:block;background:url(../img/tab-arrow.png) right center no-repeat;}
.product-right .panel-title a[aria-expanded="true"]{background:url(../img/tab-arrow-active.png) right center no-repeat;color:rgb(250, 143, 133);text-decoration:none;}
.product-garant{margin-top:37px;margin-bottom:100px;}
.product-garant img{float:left;margin-right:20px;}
.product-garant p{font-size:13px;line-height:22px;padding-top:15px;text-align:left;}
.line-zakaz{height:2px;background-color:#9f0226;margin-top:60px;}
.line-zakaz .col-lg-4{padding:0;}
.line-zakaz-wrap{text-align:center;position:relative;display:inline-block;bottom:30px;}
.line-title{line-height:25px;letter-spacing:3px;clear:both;height:21px!important;color:#ccc;font-weight:300;font-size:15px;text-transform:uppercase;position:absolute;bottom:75px;left:-15px;}
.line-title.active{color:#000;font-weight:600;}
.line-circle{border-radius:50%;border:2px solid #9f0226;height:63px;width:63px;margin:0 auto;font-size:28px;line-height:55px;background:#fff;color:#9f0226;}
.line-circle.active{background:#9f0226;color:#fff;}
.cart-table{width:100%;margin-top:60px;}
.cart-table tr{border-bottom:1px solid rgba(194, 194, 194, 0.3);}
.cart-table tr:last-child{border-bottom:1px solid #9f0226;}
.cart-table tr td{padding:15px 0;}
.item-cart-img{width:20%;}
.item-cart-img img{margin:0 auto;max-width:137px;}
.item-cart-title{width:30%;padding-left:10px;}
.item-cart-title-t{color:#677785;font-size:19px;line-height:28.18px;text-decoration:underline;text-align:left;}
.item-cart-size{display:block;margin-top:30px;color:#111417;font-size:15px;}
.item-cart-delete{text-align:center;width:10%;}
.icon-cart-delete{display:inline-block;width:21px;height:25px;background:url(../img/icon-cart-delete.png) no-repeat;cursor:pointer;}
.item-cart-count{text-align:center;}
.cart-table .count{display:inline-block;margin:0;}
.cart-table .count>div{display:inline-block;float:left;}
.cart-table .count .count-control{width:16px;}
.item-cart-price{color:#111417;font-size:28px;line-height:28.18px;text-align:center;}
.item-cart-price .glyphicon{font-size:15px;}
.item-cart-price .count,.item-cart-price i,.item-cart-price .item-cart-title-t{margin-bottom:10px;}
.item-cart-price .item-cart-title-t{text-align:center;display:block;}
.cart-checkboxes{margin-top:18px;}
.checkbox,
.radio{display:none;}
.checkbox-custom,
.radio-custom{border-radius:1px;border-style:solid;border-width:1px;border-color:#bbc4cd;box-sizing:border-box;background-color:rgba(0, 0, 0, 0);width:24px;height:24px;position:relative;}
td .checkbox-custom{
	width: 15px;
	height: 15px;
}
.checkbox-custom,
.radio-custom,
.label{display:inline-block;vertical-align:middle;cursor:pointer;}
.checkbox:checked + .checkbox-custom::before,
.radio:checked + .radio-custom::before{content:"";display:block;position:absolute;top:2px;right:2px;bottom:2px;left:2px;background:url(../img/checked.png) center no-repeat;}
.radio-custom,
.radio:checked + .radio-custom::before{border-radius:50%;}
.label{color:#111417;font-size:15px;line-height:22px;}
.label i{font-style:normal;color:#9f0226;text-decoration:underline;}
.otkrytka{padding:0;margin-bottom:27px;}
td .otkrytka{
	margin-bottom: 10px;
}
td .label{
	font-weight: normal;
}
.label-textarea{display:block;font-family:'OpenSans-regular';color:#111417;font-size:17px;text-transform:uppercase;}
.otkrytka-text,.textarea{width:100%;border-radius:1px;border-style:solid;border-width:1px;border-color:#bbc4cd;box-sizing:border-box;background-color:rgba(0, 0, 0, 0);height:105px;padding:12px;resize:none;}
.cart-prices-row{display:block;color:#393d41;font-size:15px;border-bottom:1px solid #dedede;padding-top:18px;padding-bottom:15px;}
.cart-prices-row.itogo{color:#111417;font-family:'OpenSans-regular';}
.cart-prices-price{display:block;float:right;}
.cart-prices-row.itogo .cart-prices-price{font-size:21px;}
.cart-prices-price i{font-size:10px;}
.cart-prices-row.itogo .cart-prices-price i{font-size:15px;}
.delivery-place{color:#0f60a7;font-size:16px;text-decoration:underline;cursor:pointer;}
.cart-final{position:relative;margin-top:53px;}
.back-to-catalog,.cart-link{display:inline-block;color:#df685b;font-size:15px;text-decoration:underline;line-height:47px;padding-left:15px;position:relative;}
.cart-link{
	padding-left: 0;
}
.cart-final .back-to-catalog{position:absolute;display:block;float:left;}
.back-to-catalog:before{content:"";display:block;position:absolute;left:0;width:9px;height:47px;background:url(../img/back-to-catalog.png) center no-repeat;}
.cart-final .white-button{text-transform:uppercase;margin-top:0;border-width:2px;font-family:'OpenSans-semibold';font-size:17px;margin-bottom:20px;}
.oferta{color:#5d6166;font-size:14px;}
.oferta a{text-decoration:underline;font-style:italic;color:#5d6166;}
.cart-catalog .product{height:auto;}
.cart-catalog .product .white-button{display:inline-block;margin-top:20px;margin-bottom:14px;}
.cart-catalog .product .white-button .why-we-arr{content:"+";background:none;color:#9f0226;font-style:normal;}
.cart-catalog .product .white-button:hover .why-we-arr{color:#fff;}
.cart-catalog .product:hover .product-inner{border-bottom:1px solid #ced4da;}
.order-title{text-transform:uppercase;font-family:'OpenSans-regular';font-size:17px;display:block;margin-bottom:11px;padding: 0;}
.order-title.first{margin-top:45px;}
.order-text{display:block;margin-top:10px;color:#5d6266;font-size:15px;}
.order-price{font-family:'OpenSans-regular';color:rgba(159, 2, 38, 1);font-size:20px;}
.order-price i{font-size:15px;}
.order-table{padding:64px 0 34px;margin:22px 0;border-top:1px solid rgba(194, 194, 194, 0.3);border-bottom:1px solid #9f0226}
.order-table table{margin-bottom:30px;height:147px;}
.order-table table:nth-child(2n+2){//border-left:1px solid rgba(88, 105, 121, 0.2);}
.show-text a{color:#111417;font-size:15px;font-weight:300;line-height:22px;text-decoration:underline;text-align:left;}
.delete-otkrytka .label{position:relative;padding-left:22px;}
.delete-otkrytka .label:before{content:'';position:absolute;display:inline-block;width:22px;height:13px;top:8px;left:0;background:url(../img/delete-otrkytka.png) center no-repeat;}
.order-form{}
.order-form .otkrytka{margin-top:15px;}
.order-form .order-title{margin-top:26px;}
.order-input{border-radius:1px;border-style:solid;border-width:1px;border-color:#bbc4cd;height:39px;font-size:14px;font-family:'OpenSans-regular';width:100%;padding:0 12px;margin-bottom:10px;}
.order-input.phone{background:url(../img/icons/input-phone.png) right 12px center no-repeat;}
.order-form .order-input.mail{background:url(../img/icons/input-mail.png) right 12px center no-repeat;}
.order-input.fio{background:url(../img/icons/input-fio.png) right 12px center no-repeat;}
.order-form .order-input.address{background:url(../img/icons/input-address.png) right 12px center no-repeat;}
.order-form .order-input.date{background:url(../img/icons/input-date.png) right 12px center no-repeat;}
.hint{margin-top:12px;color:#5d6166;font-size:13px;line-height:22px;font-style:italic;}
::-webkit-input-placeholder{color:#5d6166;font-size:14px;line-height:22px;}
::-moz-placeholder{color:#5d6166;font-size:14px;line-height:22px;}
:-moz-placeholder{color:#5d6166;font-size:14px;line-height:22px;}
:-ms-input-placeholder{color:#5d6166;font-size:14px;line-height:22px;}
.payment{}
.payment-title{font-family:'OpenSans-regular';font-size:17px;text-transform:uppercase;display:block;margin-top:50px;}
.payment-subtitle{font-size:17px;display:block;margin:15px 0;clear:both;font-family:'OpenSans-semibold';}
.payment a{float:left;display:block;margin-right:32px;}
.payment-benefits{color:#060709;font-size:15px;line-height:20px;}
.payment-benefits .benefit-title{font-family:'OpenSans-regular';font-size:14px;display:block;padding-left:40px;text-transform:uppercase;height:34px;line-height:34px;margin-bottom:16px;}
.benefit1,.benefit2{padding:12px;border-radius:2px;margin-bottom:7px;}
.benefit1{background-color:rgba(224, 230, 237, 0.7);}
.benefit2{background-color:rgba(250, 136, 125, 0.3);}
.benefit1 .benefit-title{background:url(../img/payment-ico1.png) left center no-repeat;}
.benefit2 .benefit-title{background:url(../img/payment-ico2.png) left center no-repeat;}
.product-label{font-size:13px;}
@media (max-width:500px){
.small-block{
	display: block;
	float: none !important;
	margin-bottom: 20px;
}
    
	.catalog .product .product-inner>a{display: block;height: 100px;}
	.catalog .product-img{margin:23px auto 0;max-height:100px;}
.catalog .img-wrap{height:100px;display:block;vertical-align:middle;text-align:center;}
	.product .product-size{margin-top:25px;display:inline-block;}
.header .cart-top-icon{margin-right:0;}
.logo{padding:0;}
.cart-top{padding:0;margin:10px 0 0;}
.title{font-size:16px;}
.catalog .items .col-xs-6,.catalog .items .col-xs-6 .product{}
.product-label{width:100%;font-size:12px;}
.product-right .product-label{width:auto;}
.catalog .product .product-inner{padding:8px 10px 0;}
.white-button{padding:0 12px;/*min-width:auto;*/}
.catalog .product:hover{overflow:hidden;}
.catalog .product:hover .catalog-buttons{display:none;}
.product:hover .product-inner{border-bottom:1px solid #ced4da !important;}
.payment-benefits .benefit-title{line-height:1.5;}
}
@media (max-width:350px){.catalog .items .col-xs-6,.catalog .items .col-xs-6 .product{}
.catalog .product:hover{overflow:hidden;}
.product:hover .product-inner{border-bottom:1px solid #ced4da !important;}
.catalog .product:hover .catalog-buttons{display:none;}
}
@media (max-width:768px){
	.catalog-consist{
		display: none;
	}
td .otkrytka{
	margin-bottom: 10px;
	text-align: left;
    //margin-left: 30%;
    clear: both;
    width: auto;
}

	.catalog .product:hover .catalog-buttons{display:none;}
.product-right .content-title{text-align:left;}

.product-right .variant-btn{width:135px;}
.product-buttons .white-button,.product-buttons .red-button{padding:0 5px;font-size:12px;}


.item-cart-img,.item-cart-price{padding:0 10px;}
.order-table table:nth-child(2n+1){border-right:none;}
.otkrytka{text-align:center;}
.hidden-lg.product-label{position:initial;width:auto;float:right;margin-top:5px;margin-right:15px;}
.hidden-lg.content-title{float:left;margin-top:0;margin-left:15px;}
.product-page-img{margin-bottom:20px;}
.catalog .items .col-xs-6,.catalog .items .col-xs-6 .product{}
.catalog .product:hover{overflow:hidden;}
.product:hover .product-inner{border-bottom:1px solid #ced4da !important;}
}
@media (max-width:1000px){.about,.text-page{background-image:none;}
.footer .contacts{text-align:center;}
.footer .contacts .callback{text-align:center;}
.footer .contacts .callback-btn {text-align: center;}
.product-right{text-align:center;}
.dib,.js-cart-count,.product-buttons{display:inline-block;}
.panel-group{text-align:left;}
}
@media (max-width:1250px){.label{font-size:12px;}

.content.testimonials .testimonial-text{max-width:450px;}
.catalog .product:hover{overflow:hidden;}
.product:hover .product-inner{border-bottom:1px solid #ced4da !important;}
.catalog .product:hover .catalog-buttons{display:none;}
.catalog .product-title a{font-size:14px;}
.delivery-block{
	max-width: none !important;
}
}
@media (min-width:1260px){.content.testimonials .testimonial-text{max-width:640px;}
.catalog .product{height:365px;}
}
@media (min-width:1200px){ .logo img{
	max-width: 277px;
}}
.products-slider .product{height:auto;}
.products-slider .product:hover .product-inner{border-bottom:1px solid #ced4da;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.cart-catalog .product{height:auto;}
.badge{position:absolute;background:#9f0226;     left: 63%;  transform: translate(-50%);}
.modal-dialog.order_dialog{position:fixed;z-index:9999;background-color:#fff;border:1px solid #999;border:1px solid rgba(0,0,0,0.2);border-radius:6px;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);box-shadow:0 3px 9px rgba(0,0,0,0.5);-webkit-background-clip:padding-box;background-clip:padding-box;outline:0;}
.order_dialog .modal-dialog-content{text-align:center;}
.order_dialog .modal-dialog-title{text-align:center;border:none;padding:0;}
.order_dialog .modal-dialog-title-text{color:#000;}
.modal-dialog-bg{background:none repeat scroll 0 0 rgba(0,0,0,1);left:0;top:0;position:absolute;z-index:999;}
.order_dialog .row{margin:5px;}
.order_dialog .btn{margin-top:10px;margin-bottom:0px;}
.btn:active, .btn.active{outline:0;background-image:none;-webkit-box-shadow:none;box-shadow:none;}
.timerange{background:#fff;border:1px solid #9f0226;color:#000;display:inline-block;padding:5px;text-align:center;cursor:pointer;margin-top:15px;}
.timerange.active{background:#9f0226;color:#fff;cursor:default;}
.timerange.disable{pointer-events:none;border:1px solid #999;}
#toTop{z-index:9999;display: none;}
#toTop span{
	opacity: 0;
}
.opentip-container{z-index:9999 !important;}
.payment-method{cursor:pointer;width:135px;height:135px;background-position:center;background-repeat:no-repeat;background-attachment:fixed;float:left;margin:5px;padding:5px;}
.payment-method.active{border: 1px solid #9f0226}
.payment-method.visa{background:url(/img/icons/credit_card.png) repeat scroll -15px -8px transparent}
.payment-method.ac{background:url(/img/icons/alfaclick.png) repeat scroll -15px -8px transparent}
.payment-method.salon{background:url(/img/icons/salon.png) repeat scroll -15px -8px transparent}
.payment-method.courier{background:url(/img/icons/courier.png) repeat scroll -15px -8px transparent}
.payment-method.qiwi{background:url(/img/icons/qiwi.png) repeat scroll -15px -8px transparent}
.payment-method.sb{background:url(/img/icons/sberonline.jpg) repeat scroll -15px -8px transparent}
.payment-method.yad{background:url(/img/icons/yandex_money.jpg) repeat scroll -15px -8px transparent}
.payment-method.wm{background:url(/img/icons/webmoney.jpg) repeat scroll -15px -8px transparent}
.payment-method.phone{background:url(/img/icons/mobimoney.png) repeat scroll -15px -8px transparent}
.payment-method.paypal{background:url(/img/icons/paypal.jpg) repeat scroll -15px -8px transparent}
.payment-method small{-moz-transition:color 0.2s ease 0s;color:#444444;cursor:pointer;display:block;font-size:75%;overflow:hidden;text-overflow:ellipsis;text-shadow:0 1px #FFFFFF;white-space:nowrap;top:80px;position:relative;text-align:center;}
.btn-phones{
	border: none;
    background: none;
    color: #337ab7;
    padding: 0;
}
.categories-menu .menu-phones,.footer .menu-phones{
    top: 30px;
    left: auto;
    z-index: 9999;
}
.footer .menu-phones{
	right: 0;
}
.menu-phones>li>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    font-size: 22px;
}
.callback .menu-phones>li>a {
	font-size: 17px;
	padding: 3px 20px;
}
.catalog-buy__button2{
	cursor: pointer;
}
.tooltips{
	position: relative;
}
i.tooltips {
    display: inline-block;
    top: 3px;
    width: 15px;
    /* padding-top: 3px; */
    /* line-height: 0px; */
    height: 15px;
    background: #5d6166;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-style: normal;
    line-height: 18px;
}
.tooltips span {
  position: absolute;
  color: #FFFFFF;
  background: #5d6166;
  visibility: hidden;
  border-radius: 6px;
  width: 335px;height: auto;line-height: 20px;padding: 10px;text-align: left;
}
.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #5d6166;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
:hover.tooltips span {
  visibility: visible;
  bottom: 30px;
  left: 50%;
  margin-left: -169px;
  z-index: 999;
   font-weight: normal
}
.address-hint>span{
	text-decoration: underline;
}
.promo-text{
color: #0f0;
}
.promo-text .red{
color: #a94442;
}
.promocode-input{
	position: relative;
	clear: both;
	padding: 0;
}
.promocode-input .active-promo{
	position: absolute;
	color: #666;
    border-bottom: 1px dashed rgba(102,102,102,.5);
    text-decoration: none;
    right: 20px;
    top: 10px;
    cursor: pointer;
}
.textotkr{
clear: both;
}
.colorbox{
margin-top: 20px;
}
.color-radio{display: none;}
.color-label{
width: 30px;
height: 30px;
cursor: pointer;
border: 2px solid #ccc;
border-radius: 50%;

}
.color-label:hover{
box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
input[type="radio"]:checked+.color-label{
box-shadow: 0 0 10px rgba(0,255,0,1);
border: none;
}
input[type="radio"]:checked+.color-label i{
display: block;

height: 40px;
width: 40px;
margin-top: -5px;
background: url(../img/check-icon.png) 0px 0px no-repeat;
}
.radio-rainbow{
background: url(/img/rainbow.jpg) center no-repeat;
}

.count-num{
float: left;
}
.payment-method{

}
.payment-method:hover{
-webkit-box-shadow: 0px 0px 50px 0px rgba(50,50,50,0.11);
-moz-box-shadow: 0px 0px 50px 0px rgba(50,50,50,0.11);
box-shadow: 0px 0px 50px 0px rgba(50,50,50,0.11)
}
.checkbox-btn,.radio-btn{position:relative;padding-left:20px}.checkbox-btn input[type="checkbox"],.checkbox-btn input[type="radio"],.radio-btn input[type="checkbox"],.radio-btn input[type="radio"]{position:absolute;opacity:0;z-index:1}.checkbox-btn label,.radio-btn label{display:inline-block;line-height:24px;vertical-align:middle;position:relative;padding-left:20px;cursor:pointer;user-select:none;color:#424242}.checkbox-btn label::after,.radio-btn label::after{position:absolute;content:"";width:18px;height:18px;left:0;top:0;margin-left:-18px;background-color:white;border:3px solid #424242;-webkit-border-radius:3px;border-radius:3px;background-clip:padding-box;cursor:pointer}.checkbox-btn label::before,.radio-btn label::before{position:absolute;content:"";width:10px;height:5px;top:6px;left:6px;margin-left:-18px;border:3px solid #000;border-top:none;border-right:none;background:transparent;-moz-transform:rotate(-45deg);-o-transform:rotate(-45deg);-ms-transform:rotate(-45deg);-webkit-transform:rotate(-45deg);transform:rotate(-45deg);opacity:0;-webkit-transition:all 0.15s ease-in-out;-o-transition:all 0.15s ease-in-out;transition:all 0.15s ease-in-out;z-index:1}.checkbox-btn label:active::before,.radio-btn label:active::before{opacity:0.3}.checkbox-btn input[type="checkbox"]:checked+label,.checkbox-btn input[type="radio"]:checked+label,.radio-btn input[type="checkbox"]:checked+label,.radio-btn input[type="radio"]:checked+label{color:#000}.checkbox-btn input[type="checkbox"]:checked+label::after,.checkbox-btn input[type="radio"]:checked+label::after,.radio-btn input[type="checkbox"]:checked+label::after,.radio-btn input[type="radio"]:checked+label::after{border:3px solid #000}.checkbox-btn input[type="checkbox"]:checked+label::before,.checkbox-btn input[type="radio"]:checked+label::before,.radio-btn input[type="checkbox"]:checked+label::before,.radio-btn input[type="radio"]:checked+label::before{opacity:1}.checkbox-btn input[type="checkbox"]:disabled+label,.checkbox-btn input[type="radio"]:disabled+label,.radio-btn input[type="checkbox"]:disabled+label,.radio-btn input[type="radio"]:disabled+label{color:#787878;cursor:default}.checkbox-btn input[type="checkbox"]:disabled+label::after,.checkbox-btn input[type="radio"]:disabled+label::after,.radio-btn input[type="checkbox"]:disabled+label::after,.radio-btn input[type="radio"]:disabled+label::after{border:3px solid #787878;background-color:#ffffff}.checkbox-btn input[type="checkbox"]:disabled+label::before,.checkbox-btn input[type="radio"]:disabled+label::before,.radio-btn input[type="checkbox"]:disabled+label::before,.radio-btn input[type="radio"]:disabled+label::before{display:none}.radio-btn label::after{-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box}.radio-btn label::before{width:12px;height:12px;border:none;top:6px;left:6px;-webkit-border-radius:50%;border-radius:50%;background-clip:padding-box;background-color:#000000;-moz-transform:rotate(0deg);-o-transform:rotate(0deg);-ms-transform:rotate(0deg);-webkit-transform:rotate(0deg);transform:rotate(0deg)}
.checkbox-btn, .radio-btn {
    position: relative;
    padding-left: 30px;
}
.radio-btn label::before {
    width: 8px;
    height: 8px;
    border: none;
    top: 6px;
    left: 6px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background-color: #9f0226;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.checkbox-btn input[type="checkbox"], .checkbox-btn input[type="radio"], .radio-btn input[type="checkbox"], .radio-btn input[type="radio"] {
    position: absolute;
    opacity: 0;
    z-index: 1;
}
.checkbox-btn input[type="checkbox"]:checked+label::after, .checkbox-btn input[type="radio"]:checked+label::after, .radio-btn input[type="checkbox"]:checked+label::after, .radio-btn input[type="radio"]:checked+label::after {
    border: 1px solid #bbc4cd;
    border-radius: 50%;
}
.radio-btn label::after {
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
}
.checkbox-btn label::after, .radio-btn label::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -18px;
    background-color: white;
    background-clip: padding-box;
    cursor: pointer;
        border: 1px solid #bbc4cd;
    border-radius: 50%;
}
.checkbox-btn input[type="checkbox"]:checked+label, .checkbox-btn input[type="radio"]:checked+label, .radio-btn input[type="checkbox"]:checked+label, .radio-btn input[type="radio"]:checked+label {
    color: #000;
}
.checkbox-btn label, .radio-btn label {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    position: relative;
    padding-left: 10px;
    cursor: pointer;
    user-select: none;
    color: #424242;
}
.radio-btn{
	float: left;
    margin-left: 30px;
}
#filter-form{
	position: relative;
	clear: both;
}
#filter-form .dropdown-menu {
    width: 100%;
    margin-top: -5px;
}

#navbar>ul>li>a{
	display: block;
    height: 50px;
    line-height: 50px;
}
.callback .dropdown:hover+.dropdown-menu,
.callback .dropdown-menu:hover,
#filter-form .dropdown:hover+.dropdown-menu,
#filter-form .dropdown-menu:hover,
#navbar .dropdown-toggle:hover+.dropdown-menu,
#navbar .dropdown-menu:hover{
    visibility: visible;
    display: block;
}

#filter-form .dropdown:hover+.dropdown-menu,
#filter-form .dropdown-menu:hover {
    display: block;
}
.dropdown-menu{
	padding: 5px;
}
.menu-phones span{
	color: #7f7f7f;
	font-size: 12px;
}
.product-img-wrp{
	height: 190px;
	display: block;
}
@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
        clear: both;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .categories-menu .navbar-default .navbar-nav>li>a{
    	border: none;
    }
}
@media (min-width: 1024px) {
.messangers{
	float: right;
}
}
.messangers>a{
	margin: 5px;
	outline: none;
	text-decoration: none;
}
.messangers>a:hover{
	text-decoration: none;
}
.mess-manager{
    line-height: 35px;
    margin-left: 10px;
    font-size: 12px;
    cursor: pointer;
}
.mess-manager:hover{
	text-decoration: underline;
}
.whatsapp-phone{
	text-align: center;
	font-size: 24px;
}
.whatsapp-phone a{
	display: inline-block;
	float: none;
}
.city-list{
	width: 100%;
	float: left;
	list-style: none;
	padding-left: 0px !important;
}
.city-list li{
	display: list-item !important;
	float: none !important;
	margin-bottom: 10px;
	font-size: 15px;
}
.city-list li a{
	color: #333;
	text-decoration: none;
	border-bottom: 1px solid #999;
}
.city-list li span.active{
	font-weight: 700;
	font-size: 15px;
	text-decoration: none;
}
.city-list li a:hover{
	text-decoration: none;
	color: #ffac21;
	border-bottom: 1px solid #ffac21;
}
.manager-list{
	list-style: circle !important;
	padding-left: 40px !important;
}
.manager-list li{
	display: list-item !important;
	float: none !important;
	margin-bottom: 10px;
}
#map {
    width: 100%;
    height: 400px;
}
#whatsapp-modal .modal-title{
	    font-size: 2.4rem;
    line-height: 2rem;
    font-weight: 300;
    text-align: center;
}
#whatsapp-modal .modal-header{
	font-family:'OpenSans-light';
	border: none;
	padding: 30px 15px 15px;
}
#whatsapp-modal .modal-body{
	font-family: 'Opensans-regular';
	padding: 0 9.5rem 1.5rem;
}
#whatsapp-modal .modal-contacts{
	border: 1px solid #dae1e5;
    border-radius: 2px;
    margin-top: 2.8rem;
    padding: 2.3rem 5rem 2.5rem;
    text-align: center;
    margin-bottom: 1.8rem;
}
#whatsapp-modal .modal-contacts a{
	color: #9f0226;
	font-size: 3.4rem;
    line-height: 3rem;
    display: block;
    margin-top: 2.6rem;
    font-weight: 300;
}
#whatsapp-modal .modal-contacts img{
	margin: 5px;
}
#whatsapp-modal .modal-footer{
	text-align: center;
}

.dropdown-submenu {
    position: relative;
    cursor: pointer;
}

.dropdown-menu .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-menu .dropdown-submenu .caret{
	display: none;
}
.dropdown-menu .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.ya-counter{
	position:absolute; left:-9999px;
}
.slider-nav{
	position:absolute;top:0;width:100%;height: 100%;
}
#instagram{
	visibility:hidden;margin-top: -500px;
}
.keys-listview{
	display: none;
}
.keys span{display: none;}
#search{
	margin-right: 10px;
}
#search form{
	position: relative;

}
#search .order-input{
	width: 100%;
	padding-right: 26px;
	height: auto;
	margin: 8px 0 0;
}
.search-btn{
	background: transparent;
	border: transparent;
	color: #fa887d;
	position: absolute;
    right: 0;
    top: 9px;
}
.search-btn:hover{
	color: #9f0226;
}
@media (max-width:700px){
	#search{width: 100%;margin: 0 auto;padding-right: 15px;padding-left: 15px;}
	#search .order-input{
		height: 40px;

	}
	.search-btn{
		font-size: 25px;
		line-height: 40px;
	}
}
.ya-share2{margin-top: 20px}
.testimonials-form button{
	margin-bottom: 40px;
	margin-top: 0;
}

.navbar-fixed{
	display: none;

}
.fixed-top{
	
}
.navbar-fixed.fixed-top{
	display: block;
	background: #fff;
	z-index: 999;
	padding-top: 10px;
	position: fixed;
	
	width: 100%;
}
.categories-menu.fixed-top{
	top: 63px;
	display: block;
	position: fixed;
	z-index: 990;
	width: 100%;
	margin-top: 7px;
}

.order-by{
    text-align: right;
	margin-top: 20px;
	margin-bottom: 0;
}
.ya-share2__container_size_m .ya-share2__item{
	margin:1px!important;
}

.select-city .modal-content{
	padding: 22px 40px 0;
}
.select-city .modal-header{
	border: none;
	font-size: 24px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 17px;
    text-align: left;
    padding: 0;
}
.select-city .modal-footer{
	font-size: 13px;
	text-align: center;
}
.select-city .close span{
	font-size: 33px!important;
}
.select-city .modal-title{
	font-weight: 700;
    font-size: 24px;
}
.select-city .modal-subtitle{
	font-size: 15px;
    line-height: 22px;
    margin-bottom: 24px;
}
.select-city-btn{
    border-bottom: 1px dashed #333;
}
.select-city-btn a{
	color: #333;
}
.select-city-btn:hover,.select-city-btn a:hover{
	text-decoration: none;
	border-bottom: none;
}

.about-page .about-page__header{
	padding: 100px 0;
	text-align: center;
	font-family:'OpenSans-light';
	color: #fff;
	background: url(../img/history-bg.jpg) center no-repeat;
}
.about-page .about-page__header h1{
	padding: 0;
	margin: 0 0 40px;
	font-size: 52px;
	
}
.about-page .about-page__header .subtitle{
	font-size: 16px;
}
.about-page__title{
	margin-bottom: 40px;
}
.about-page blockquote{
	font-style: italic;
	font-size: 20px;
	margin: 40px 50px;
	padding: 0 35px;
	border-left: 6px solid #9e0325;
	color: #111417;
}
.about-page blockquote .signature{
	margin-top: 15px;
	display: block;
	font-size: 16px;
	font-family:'OpenSans-light';
	color: #9e0325;
	font-style: normal;
}
.about-gallery .col div,.about-gallery .center-col div{
	display: block;
	margin-top: 30px;
	overflow: hidden;
}
.about-gallery .col div{
	max-height: 250px;
	
}
.about-gallery .col div,.about-gallery .col div img{
	height: 100%;
}
.about-gallery .center-col{
	max-height: 560px;
	overflow: hidden;
}
.compet>div{
	padding-left: 60px;
	position: relative;
	margin-bottom: 40px;
}
.compet>div:before{
	position: absolute;
	display: block;
	left: 0;
	right: 0;
	content: '';
	background-image: url(../img/comp-icons.png);
	height: 40px;
	width: 40px;
}
.compet>div.rocket{
	background-position: 0 0;
}
.compet>div.user:before{
    background-position: 33px 1px;
    width: 33px;
    height: 33px;
}
.compet>div.like:before{
    background-position: 0 33px;
    height: 33px;
}
.compet>div.light:before{
	background-position: 35px 40px;
	width: 35px;
}
.compet-title{
	color: #111417;
	font-size: 18px;
	display: block;
	margin-bottom: 25px;
	font-weight: 700;
}
.history{
	background: url(../img/history-bg.jpg) center center no-repeat;
	padding: 100px 50px;
	color: #fff;
}
.history-title{
	font-family:'OpenSans-light';
	font-size: 48px;
	margin-bottom: 25px;
}
.history-desc{
	font-size: 18px;
}


.box{
	//max-height: 430px;
      //  overflow-y: scroll;
}
.box:-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
} 
.box ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    transition: all 0.5s linear;
    top:0
}

.box ul:last-of-type{top:50px}

.box ul:before{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #828487;
    position: absolute;
    top:0;
    left:30px
}

.box ul li{
    margin: 20px 60px 60px;
    position: relative;
    padding: 10px 20px;
    color:#fff;
    line-height: 20px;
}


.box ul li > span{
    content: "";
    display: block;
    width: 0;
    height: 100%;
    border:1px solid #828487;
    position: absolute;
    top:0;
    left:-30px
}

.box ul li > span:before{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background:#fff;
    border:2px solid #fff;
    position: absolute;
    left:-5.5px
}

.box ul li > span:before{top:-10px}
.box ul li > span:after{top:95%}

.box .title{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5px
}
.box .info{
	margin-top: -30px;
    width: 480px;
    float: right;
}
.box .info:first-letter{text-transform: capitalize;line-height: 1.7}


.box .time span{
    position: absolute;
    color:#adaeae;
    left: 20px;
    font-size:14px;
    font-family:'OpenSans-light';
}
.box .time span:first-child{top:-16px}
.box .time span:last-child{top:94%;display:none}
.team{
	background: #efefef;
	position: relative;
}
.team .lslide{
	text-align: left!important;
}
.team-slider__photo{
	padding-top: 55px;
}
.team-slider__info{
	padding-top: 90px;
	max-width: 500px;
}
.team-slider__title{
	color: #111417;
	font-size: 48px;
	font-family:'OpenSans-light';
	text-transform: uppercase;
	margin-bottom: 50px;
}
.team-slider__name{
	color: #111417;
	font-size: 32px;
	font-family:'OpenSans-bold';
}
.team-slider__rank{
	color: #656b6f;
	font-size: 14px;
	font-family:'OpenSans-light';
	margin-bottom: 20px;
}
.team-slider__desc{
	color: #656b6f;
	font-size: 18px;
	font-family:'OpenSans-regular';
	margin-top: 20px;
	margin-bottom: 60px;
}
.team hr{
	border-color: #dddddd;
}
.team-slider__mail{
	display: block;
	font-size: 18px;
	color: #4b79bb;
	text-decoration: underline;
}
.statistic-list{
	margin-top: 50px;
	margin-bottom: 50px;
}
.statistic-list span{
	font-size: 36px;
	color: #111417;
	display: block;
	height: 170px;
	text-align: center;
	line-height: 130px;
}
.statistic-list p{
	font-size: 24px;
	color: #111417;
	text-align: center;
}
.statistic-item-1 span{
	background: url(../img/skillbar1.png) top center no-repeat;
}
.statistic-item-2 span{
	background: url(../img/skillbar2.png) top center no-repeat;
}
.statistic-item-3 span{
	background: url(../img/skillbar3.png) top center no-repeat;
}
.statistic-item-4 span{
	background: url(../img/skillbar4.png) top center no-repeat;
}
.how-to{

}
.how-to-line{
	background: url(../img/how-steps.png) center no-repeat;
	min-height: 857px;
}
.how-to-title{
	color: #393939;
	font-size: 18px;
	font-family: 'OpenSans-bold';
	margin-bottom: 10px;
	display: block;
}
.how-to-list{
	list-style: none;
	padding: 0;
	margin: 0;
}
.how-to-list li:before{
	/*<i class="fa fa-check-square-o" aria-hidden="true"></i>*/
}
.how-to-list li{
	font-size: 14px;
	color: #595a5a;
	margin-bottom: 10px;
}
.how-to-list li i{
	color: #90223d;
}
.how-to-list.first{
	margin-bottom: 60px;
}
.how-to-icons{
	margin-bottom: 60px;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.width60{
	max-width: 60%;
}
.width40{
	max-width: 40%;
}
@media (max-width: 768px){
	.categories-menu.fixed-top{
		position: inherit;
	}
	.categories-menu.fixed-top .navbar-header{
		position: fixed;
		top:0;
		margin-top: 0;
		z-index: 9999;
		background-color: #9f0226;
		display: block;
		width: 100%;
	}
	.width60{
		max-width: 100%;
	}
	.about-page blockquote{
	    font-size: 15px;
	    margin: 30px 10px;
	    padding: 0 23px;
	}
	.about-gallery img{
		width: 100%;
	}
	.compet{
		margin: 0;
	}
	.btn-phones{
		padding: 5px 0 0 10px;
	}
}
.m20{
	margin: 20px 0!important;
}
.ot-btn{
	max-width: 760px;
}
.ot-btn .white-button{
	min-width: 0;
}
.team-slider .row{
	margin: 0;
}
.g-recaptcha{
	text-align: center;
	margin: 20px auto;
}
.g-recaptcha>div{
	display: inline-block;
}
.catalog-consist {
    height: 0;
    overflow: visible;
    position: relative;
}
.catalog-consist-inner {
    display: none;
    width: 100%;
    font-size: 12px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(250, 143, 133, 0.76);
    position: absolute;
    color: #ffffff!important;
    bottom: 0;
    padding: 3px;
}
.modal-lg{
	max-width: 800px;
}
.new-modal{
	border-radius: 5px;
	-webkit-box-shadow:0 3px 9px rgba(0,0,0,0.5);
	box-shadow:0 3px 9px rgba(0,0,0,0.5);
    background: #fff;
    overflow: hidden;
}
.new-modal__item:first-child{
	border-right: 2px solid #9e0325;
}
.new-modal__content{
	padding: 0 30px 0;
}
.new-modal__img{
	border-bottom: 2px solid #9e0325;
}
.new-modal__title{
	display: block;
	font-family:'OpenSans-semibold';
	font-size: 32px;
	text-align: center;
	color: #111417;
	margin: 20px 0 15px;
}
.new-modal__subtitle{
	display: block;
	font-family: 'OpenSans-light';
	font-size: 16px;
	color: #111417;
	margin-bottom: 10px;
    display: block;
    font-family: 'OpenSans-light';
    font-size: 16px;
    color: #111417;
    max-width: 566px;
    text-align: center;
    margin: 0 auto 10px;
}
.new-modal__ico{
	display: inline-block;
	width: 25px;
	margin-right: 40px;
}
.new-modal__info{
	text-align: center;
	padding: 25px 25px 0;
}
.new-modal__item:first-child .new-modal__content img{
	height: 145px;
}
.new-modal__item:last-child .new-modal__content img{
	height: 125px;
}
.new-modal__city{
	font-family: 'OpenSans-semibold';
	font-size: 18px;
	color: #111417;
}
.new-modal__btn{
	background: #9e0325;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	display: block;
    margin-top: 10px;
    line-height: 50px;
    width: 160px;
}
.new-modal__btn:hover{
	color: #fff;
}
.new-modal__footer{
	margin-top: 25px;
	padding: 20px 0;
}
.new-modal__footer p{
	max-width: 470px;
	margin: 0 auto;
}
.new-modal .close{
    position: absolute;
    right: 15px;
    top: 3px;
    z-index: 999;
}
.gift-modal .img-responsive{
	width: 100%;

}
.modal-dialog__gift{
	margin-top: 130px;
}
.modal-dialog__gift .close{
	color: #fff;
	opacity: 1;
	margin-top: 10px;
}
.gift-modal__img{
	position: absolute;
    top: -169px;
    width: 100%;
    height: 400px;
    background: url(https://expressbuket.com/img/modal-gift.png) center top no-repeat;
}
@media (min-width: 768px){
	.float-left-desktop{
		float: left;
	}
	.float-right-desktop{
		float: right;
	}
}
@media (max-width: 768px){
	.gift-modal__img{
		background-size: contain;
		height: 200px;
		top: -99px;
	}
	.modal-dialog__gift .close{
	    top: -2px;
	    right: 3px;
	}
	#city-modal .new-modal{
		padding: 0 15px;
	}
	.new-modal__item{
		text-align: center;
	}
	.new-modal__item:first-child{
		border: none;
	}
	.new-modal__title{
		font-size: 16px;
	}
	.new-modal__img{
		display: none;
	}
	.new-modal__ico{
		margin-right: 10px;
	}
	.new-modal__info{
		float: none!important;
		width: 100%;
		text-align: center;
	}
	.new-modal__btn{
		width: auto;
	}
	.new-modal__item-img{
		display: none;
	}
}
.modal {
  text-align: center;
}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.cart-top {
	width:270px;
	margin-top:10px;
}

.link-favorite strong {
	position: absolute;
	left:50%;
	top:40%;
	transform:translate(-50%, -50%);
	font-size: 12px;
}

.link-favorite span {
	position:relative;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}

.link-favorite, .link-favorite:hover  {
	font-size: 16px;
	text-decoration: none;
	color:black;
}

.btn-add-to-favorite {
	position: absolute;
	right:10px;

}

.active-favorite {
	fill:white;
}

.btn-favorites strong {
	vertical-align: middle;
	display: inline-block;
}

.text-empty-favorite-list {
	width:585px;
	font-size: 20px;
	text-align: center;
	display: block;
	margin: 100px auto;
	color: #1F1F1F;
	line-height:30px;
}

#navbar > ul > li:last-child a {
	font-size: 14px;
	text-transform: none;
}

#navbar > ul > li:nth-last-child(-n+2) a {
	font-size: 14px;
	text-transform: none;
}

#navbar > ul > li:last-child {
	float:right;
}
#navbar > ul > li:nth-last-child(-n+2) {
	float:right;
}

#navbar .navbar-nav {
	float:none;
}

#auth, #status, .callback-popup {
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	background-color: white;
	width:530px;
	height:640px;
	display: none;
	z-index: 9999;
}

.callback-popup {
	/*display: block;*/
}

.close-popup {
	position: absolute;
	width: 42px;
	height: 42px;
	right:0;
	top: 0;
	background: #9F0226;
	display: block;
}

.wrap-content-auth h4, .callback-popup h4 {
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;
	text-align: center;
	color: #1F1F1F;
}

.wrap-content-auth label {
	position: relative;
}

#auth, #status {
	padding-right: 0 !important;
}

#auth a svg, #status a svg, .callback-popup a svg {
	position: absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}

.wrap-content-auth .logo-auth, .logo-callback .logo-auth {
	display:block;
	margin:72px auto 0;
}

.wrap-content-auth form {
	width:415px;
	margin: 0 auto;
}

.wrap-content-auth form input[type="text"], .wrap-content-auth form input[type="email"], .callback-popup form input {
	width:100%;
	height:47px;
	background: rgba(249, 249, 249, 0.849);
	border: 1px solid #A2AEB7;
	box-sizing: border-box;
	outline:none;
	padding-left: 10px;
	margin-bottom: 30px;
}

.wrap-content-auth form label {
	display: block;
	margin-bottom: 0;
}

.wrap-content-auth form ul li {
	display: inline-block;
	vertical-align: bottom;
	width:47.5%;
}

.wrap-content-auth form ul li:first-child {
	margin-right: 4%;
}

.wrap-content-auth form ul li:last-child {
	left: 0;
}

.wrap-content-auth form ul li input {
	display: block;
	height: 47px;
	background: rgba(249, 249, 249, 0.849);
	border: 1px solid #A2AEB7;
	box-sizing: border-box;
	outline:none;
	padding-left: 10px;
	width:100%;
}

.wrap-content-auth form ul, .info-message ul {
	padding-left: 0;
	width:100%;
}

.btn-auth, .btn-auth:hover {
	display: block;
	text-decoration: none;
	background: #9F0226;
	height: 47px;
	color:white;
	text-align: center;
	line-height: 47px;
	text-transform: uppercase;
}

.info-message ul li {
	display: inline-block;
	vertical-align: middle;
	width:25%;
	position: relative;
}

.info-message ul li:first-child:after {
	position: absolute;
	content: '';
	width:1px;
	height: 100%;
	background: #CCD5DC;
	right:20px;
}

.info-message ul li:last-child {
	width:73%;
}

.info-message {
	background: #F5F5F5;
	width:415px;
	margin:  120px auto 0;
	height: 100px;
	padding:20px 20px;
}

.see-products {
	position: fixed;
	right:0;
	background-color: white;
	top:195px;
	width:100px;
	z-index: 99999999;
}


.see-products .content-see ul:hover .btn-show-more-see {
	display: block;
}

.btn-show-more-see {
	display: none;
}

.btn-show-more-see a {
	display: block;
}

.styleh4 {
	font-size: 15px !important;
	padding-top: 0 !important;
	line-height: 42px;
}

.see-products .content-see ul:hover .product-name {
	display: block;
}

.product-name {
	display: none;
}

.see-products > a[data-active="1"] {
	transform: rotate(180deg);
}

.see-products > a {
	position:absolute;
	left:-42px;
	top:0;
	display: block;
	width: 42px;
	height: 42px;
	background: #9F0226;
	text-align: center;
	line-height: 40px;
}

.content-see h4 {
	display: block;
	text-align: center;
	font-style: normal;
	font-weight: 300;
	font-size: 12px;
	color: #3B4249;
	background: #EAEFF3;
	height: 42px;
	margin:0;
	padding-top: 10px;
}

.content-see ul {
	padding-left: 0;
	margin-bottom: 0;
}

.content-see ul li {
	border-bottom:1px solid #CCD5DC;
	list-style: none;
	border-left:1px solid #CCD5DC;
	padding-bottom: 5px;
	padding-top: 5px;
}


.content-see ul li:first-child {
	padding-top: 0;
}
.content-see img {
	width:80%;
	display: block;
	margin: 0 auto;
}

.content-see a {
	text-align: center;
	text-transform: uppercase;
	font-size: 14px;
	color: #1F1F1F;
	padding: 10px 0;
}

.btn-show-more-see {
	background: #EAEFF3;
}

.wrap-price {
	width: 160px;
	text-align: left;
}

.img-wrap-status {
	margin: 70px auto;
	text-align: center;
}

#status h3 {
	text-align: center;
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;
	color: #1F1F1F;
}

#status > span {
	display: block;
	text-align: center;
	margin-top: 20px;
}

.wrap-content-auth span {
	text-align: left !important;
}

.btn-check-status, .btn-check-status:hover {
	width: 100%;
	text-decoration: none;
	height:47px;
	background: #9F0226;
	color:white;
	text-align: center;
	text-transform: uppercase;
	margin-top: 10px;
	display: block;
	line-height: 47px;
	font-size: 15px;
}

.wrap-status-order {
	background: #FFFFFF;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
	padding: 20px 50px 20px 80px;
	position:relative;
	margin-bottom: 100px;
}

.wrap-status-order:before {
	width:1px;
	height:91%;
	background: #CCD5DC;
	content: '';
	position:absolute;
	left:40px;
}

.wrap-status-order h3 {
	margin: 0;
	position:relative;
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 24px;
	border-bottom: 1px solid #EAEFF3;
	width:100%;
	padding-bottom: 15px;
	margin-bottom: 15px;
	color: #1F1F1F;
}

.wrap-status-order h3:before {
	position:absolute;
	left:-60px;
	content: url(../svg/apply.svg);
	width:42px;
	height:42px;
	background-size: 42px 42px;
}

.point {
	display: block;
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	position:relative;
	color: #3B4249;
}

.point:before {
	position:absolute;
	width:7px;
	content: '';
	height: 7px;
	border-radius: 50%;
	background: #CCD5DC;
	left:-43px;
	top:15px;
}

.point.active:before {
	position:absolute;
	width:7px;
	height:7px;
	content:'';
	border-radius: 50%;
	left:-43px;
	background: #009701;
	z-index: 6;
}

.point.active:after {
	position:absolute;
	z-index: 5;
	left:-46px;
	top:12px;
	content: '';
	width:13px;
	height:13px;
	border: 1px solid #009701;
	box-sizing: border-box;
	background: #FFFFFF;
	border-radius: 50%;
}

.point-mini {
	margin-bottom: 15px;
}

.point-mini:before {
	top:5px;
}

.point-mini.active:after {
	top:2px;
}

.point-mini:last-child {
	margin-bottom: 0;
}

.type-order {
	padding-left: 0;
	margin-top: 20px;
	margin-bottom:20px;
}

.type-order li {
	display: inline-block;
	width:49%;
	height:47px;
	text-align: center;
	border:1px solid #CCD5DC;
	font-size: 14px;
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	color: #3B4249;
	padding-top:4px;
}

.list-products {
	padding-left: 0;
}

.list-products li {
	width:100%;
	list-style:none;
}

.list-products a {
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-decoration-line: underline;
	color: #008AC1;
}

.list-products span {
	float:right;
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: right;
	color: #1F1F1F;
}

.info-order {
	padding-left: 0;
	margin-bottom: 30px;
}

.info-order li {
	list-style:none;
}

.info-order span {
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: 600;
	line-height: 29px;
	font-size: 15px;
	color: #1F1F1F;
	display: inline-block !important;
}

.type-order .active {
	border: 1px solid #9F0226;
}

.list-products li {
	margin-bottom: 7px;
}

.list-products li a {
	position:relative;
	display: block;
	width:100%;
	height:1.2em;
}

.list-products li strong {
	left:0;
	position:absolute;
	background: white;
	z-index: 2;
}

.list-products li span {
	right:0;
	position:absolute;
	background: white;
	z-index: 2;
}

.list-products li a:after {
	content:'';
	position: absolute;
	bottom: 0.3em;
	left: 0;
	width: 100%;
	height: 100%;
	background: url(https://box.everhelper.me/attachment/435173/c5e2217d-449a-4bfd-b77c-09ce861ed3c5/552479-3lax16SYwGefxRbJ/screen.png) repeat no-repeat;
	background-position-y: bottom;
	z-index: 1;
}

.list-products i, .info-order i {
	color: #fa887d;
	font-size: 13px;
}

.wrap-question-order {
	background: #F5F5F5;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
	padding:20px 40px;
}

.wrap-question-order > ul > li {
	display: inline-block;
	vertical-align: middle;
	width:35%;
}

.wrap-question-order > ul {
	padding-left: 0;
	border-bottom: 1px solid #EAEFF3;
	padding-bottom: 25px;
}

.wrap-question-order > ul > li:first-child {
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 13px;
	color: #000000;
	margin-right: 3%;
	width:60%;
}

.wrap-question-order > ul > li a, .wrap-question-order > ul > li a:hover {
	border: 1px solid #009701;
	box-sizing: border-box;
	position:relative;
	display: block;
	height: 47px;
	color: #000000;
	padding-left: 60px;
	padding-top: 4px;
	text-decoration: none;
}

.wrap-question-order > ul > li a:before {
	position:absolute;
	left:15px;
	content: url(../svg/question.svg);
}

.wrap-question-order h3 {
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 20px;
	margin-bottom: 20px;
	color: #3B4249;
}

.wrap-question-order h3 a, .wrap-question-order h3 a:hover {
	color:#008AC1;
	position: relative;
	text-decoration: underline;
}

.wrap-question-order h3 a:after {
	position: absolute;
	content: url(../svg/star.svg);
	transform: scale(1.8);
	top:-5px;
	right:-20px;
}

.wrap-app-mobile ul {
	padding-left: 0;
}

.wrap-app-mobile ul li {
	display: inline-block;
	vertical-align: top;
	width:48%;
}

.wrap-app-mobile ul li a, .wrap-app-mobile ul li a:hover {
	display: block;
	text-decoration: none;
	background-color: black;
	border-radius: 6px;
	height: 47px;
	position: relative;
	color:white;
	padding: 0px 4px 4px 80px;
}

.wrap-app-mobile ul li a span {
	display: block;
	font-size: 13px;
}

.wrap-app-mobile ul li a {
	font-size: 16px;
}

.wrap-question-order p {
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 16px;

	color: #3B4249;
}

.wrap-question-order svg {
	margin: 20px auto;
	display: block;
}

.wrap-app-mobile {
	margin-top: 20px;
}

.wrap-app-mobile ul li:first-child a:before {
	position: absolute;
	content:url(../svg/iphone.svg);
	left: 45px;
	top: 10px;
}

.wrap-app-mobile ul li:last-child a:before {
	position: absolute;
	content:url(../svg/android.svg);
	left: 45px;
	top: 15px;
}

.cancel-order, .cancel-order:hover {
	position: absolute;
	text-decoration: none;
	display: block;
	width:132px;
	height: 47px;
	right:30px;
	bottom:35px;
	border: 1px solid #9F0226;
	padding-left:50px;
	color:black;
	line-height: 16px;
	padding-top: 5px;
}

.cancel-order:before {
	position: absolute;
	left:10px;
	top:5px;
	content: url(../svg/cart.svg);
}

.btn-edit-order {
	position: relative;
	text-decoration: underline;
}

.btn-edit-order:after {
	position: absolute;
	content: url(../svg/edit-order.svg);
	right: -15px;
	top:2px;
}

.text-otrkytka svg {
	display: inline-block;
	vertical-align: middle;
}

.wrap-top-account ul  {
	padding-left: 0;
}

.wrap-top-account > ul > li {
	display: inline-block;
	vertical-align: top;
	width:49%;
	height: 220px;
	padding: 20px;
	position: relative;
	text-align: center;
}

.wrap-top-account > ul > li:first-child {
	background: #FFFFFF;
}

.btn-exit, .btn-exit:hover {
	position: absolute;
	text-decoration: none;
	top:15px;
	right:30px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 15px;
	color: #3B4249;
	padding-right: 10px;
}

.btn-exit:after {
	right:-15px;
	position: absolute;
	content:url(../svg/exit.svg);
}

.photo-account {
	background: #9F0226;
	width: 64px;
	height: 64px;
	margin: 20px auto;
	position: relative;
}

.photo-account:before {
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	content: url(../svg/avatar.svg);
}

.wrap-top-account > ul > li:first-child h3 {
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 24px;

	color: #3B4249;
}

.wrap-top-account > ul > li:first-child span {
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 20px;

	color: #1F1F1F;
}

.wrap-top-account > ul > li:last-child {
	background-image: url(../img/1550055670_393428_01.jpg);
	position: relative;
}

.wrap-top-account > ul > li:last-child .overlay {
	position: absolute;
	z-index: 1;
	left:0;
	top:0;
	width:100%;
	height: 100%;
	opacity: .6;
	background: black;
}

.wrap-top-account > ul > li:last-child p {
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	text-align: center;
	padding: 20px;
	color: #FFFFFF;
}

.wrap-background {
	position: relative;
	z-index: 3;
}

.wrap-background b {
	color:#D07466;
}

.wrap-background ul li span {
	color:white;
	display: block;
}

.wrap-background ul li {
	display: inline-block;
	vertical-align: top;
	width:49%;
}

.wrap-background ul li:first-child {
	border-right: 1px solid white;
}

.wrap-background ul li:first-child a {
	display: block;
	border: 1px dashed #FFFFFF;
	height: 47px;
	line-height: 47px;
	text-align: center;
	font-style: normal;
	font-size: 15px;
	width:170px;
	color: #FF8877;
	margin: 5px auto;
}

.wrap-info-account-page {
	margin-top: 20px;
	background: white;
	box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.25);
	margin-bottom: 30px;
	padding-bottom: 100px;
}

.tabs-account ul {
	padding-left: 0;
	width:100%;
	border-bottom: 1px solid #EAEFF3;
}

.tabs-account ul li {
	display: inline-block;
	width:20%;
}

.tabs-account ul li a, .tabs-account ul li a:hover {
	display: block;
	text-decoration: none;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	height:47px;
	line-height: 47px;
	color: #1F1F1F;
	position:relative;
}

.tabs-account ul li a.active:before, .tabs-account ul li a:hover:before {
	content: '';
	position:absolute;
	width:100%;
	height:2px;
	bottom: 0;
	left:0;
	background: #9F0226;
}

.status-and-number {
	padding-left: 0;
	list-style: none;
	margin-bottom: 20px;
}

.status-and-number li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 14px;

	color: #1F1F1F;
}

.status-and-number li:first-child {
	border-right: 1px solid black;
	padding-right: 7px;
	margin-right: 7px;
}

.list-orders-account {
	margin-top: 30px;
}
.list-orders-account > ul > li {
	display: block;
	border-bottom: 1px solid #EAEFF3;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.order-action-list {
	background: #F5F5F5;
	padding: 25px 15px;
}


.order-action-list ul {
	padding-left: 0;
}

.order-action-list ul li {
	display: block;
}

.order-action-list ul li a, .order-action-list ul li a:hover{
	display: block;
	text-decoration: none;
	height:47px;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-bottom: 15px;
	line-height: 47px;
}

.order-action-list ul li a.no-active {
	background:#BCBEC0;
}

.order-action-list ul li a.active {
	background: #009701;
}

.order-action-list ul li a.remove {
	background: #9F0226;
	position: relative;
	margin-top: 30px;
}

.order-action-list ul li a.remove:before {
	height:1px;
	width:100%;
	content: '';
	background:#CCD5DC;
	top:-15px;
	left:0;
	position: absolute;
}

.header-bonus {
	height: 100px;
	border-bottom: 1px solid #EAEFF3;
	line-height: 100px;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;

	color: #1F1F1F;
	padding-left: 60px;
}

.wrap-description-bonus {
	padding-left: 60px;
}

.wrap-description-bonus h3 {
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 20px;
	margin-bottom: 30px;
	color: #000000;
}

.wrap-description-bonus h4 {
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 18px;
	margin-bottom: 10px;
	color: #4993C7;
}

.wrap-info-bonus {
	margin-bottom: 20px;
	padding-right: 100px;
}


.wrap-bonus-account {
	padding-bottom: 100px;
	margin-bottom: 30px;
}

.table-table-account a:hover:before {
	display: none;
}

.wrap-rules {
	padding-left: 60px;
	padding-bottom: 100px;
	padding-top: 20px;
}

.wrap-rules ul {
	padding-left: 0;
}

.wrap-rules ul li {
	display: block;
}

.one-rules span {
	display: block;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 17px;
	margin-bottom: 30px;
	color: #1F1F1F;
	cursor: pointer;
	position: relative;
}

.one-rules span:before {
	position: absolute;
	top:0px;
	right:20px;
	content: url(../svg/angle.svg);
}

.one-rules span.active:before {
	transform: rotate(180deg);
}

.wrap-content-rules {
	display: none;
	padding-bottom: 20px;
	padding-right: 100px;
}

.wrap-notification-account {
	padding-top: 20px;
	padding-bottom: 60px;
	margin-bottom: 30px;
}

.wrap-notification-account ul {
	padding-left: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid #EAEFF3;

}

.wrap-notification-account ul li {
	display: inline-block;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 17px;
	color: #1F1F1F;
	margin-right: 15px;
}

.wrap-notification-account ul li:first-child {
	width:470px;
}

.wrap-notification-account ul li input {
	opacity: 0;
	z-index: -1;
	position: absolute;
}

.wrap-notification-account ul li label {
	position: relative;
	padding-left: 25px;
	cursor: pointer;
}

.wrap-notification-account ul li label:before {
	position: absolute;
	content: '';
	width:20px;
	height: 20px;
	border:1px solid #65C05F;
	border-radius: 3px;
	left:0;
}

.wrap-notification-account ul li input:checked + label:after {
	position: absolute;
	content: url(../svg/check.svg);
	left:4px;
	top:-2px;
}

.bts-save-notifications, .bts-save-notifications:hover {
	display: block;
	margin:30px auto;
	height:47px;
	line-height: 47px;
	background: #9F0226;
	width:260px;
	text-align: center;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
	color:white;
	text-decoration: none;
	float:none !important;
}

.wrap-info-account-page h3 {
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 20px;
	color: #1F1F1F;
	margin-bottom: 15px;
}

.wrap-info-account-page .col-lg-4 > span, .wrap-info-account-page .col-lg-3 > span {
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 14px;
	display: block;
	margin-bottom: 15px;
	color: #1F1F1F;
}


.wrap-info-account-page span, .wrap-info-account-page label {
	display: block;
}

.wrap-info-account-page input[type="text"], .wrap-info-account-page input[type="password"], .wrap-info-account-page input[type="email"], .wrap-info-account-page textarea {
	width: 100%;
	height: 47px;
	background: rgba(249, 249, 249, 0.849);
	border: 1px solid #A2AEB7;
	box-sizing: border-box;
	outline: none;
	padding-left: 10px;
	margin-bottom: 10px;
	font-weight: normal;
}

.wrap-info-account-page textarea {
	background: #F9F9F9;
	border: 1px solid #A2AEB7;
	box-sizing: border-box;
	min-height: 142px;
	resize: none;
	padding: 10px;
}

.wrap-info-account-page input[type="submit"] {
	float:right;
	display: block;
	text-align: center;
	border:none;
	height: 47px;
	line-height: 47px;
	background: #9F0226;
	font-style: normal;
	font-weight: normal;
	line-height: normal;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	width:260px;
	color: #FFFFFF;
}

.list-select-sex {
	padding-left: 0;
}

.list-select-sex li {
	display: inline-block;
	margin-right: 20px;
}

.list-select-sex li input {
	opacity: 0;
	z-index: -1;
	position: absolute;
}

.wrap-info-account-page2 {
	padding-left: 40px;
}

.list-select-sex li label {
	position: relative;
	padding-left: 20px;
	cursor: pointer;
}

.list-select-sex li label:before {
	position: absolute;
	content: '';
	width:16px;
	height: 16px;
	background: #CCD5DC;
	left:0;
	border-radius: 50%;
}

.list-select-sex li input:checked + label:after {
	position: absolute;
	content: '';
	width:16px;
	height: 16px;
	background-color: #9F0226;
	border-radius: 50%;
	left: 0;
	top: 0;
	border:1px solid #9F0226;
}

.error-field {
	color:#9F0226;
	position: absolute;
	bottom: 10px;
	display: none;
}

.user-active {
	position:relative;
	padding-left: 35px !important;
}

.user-active:before {
	position: absolute;
	left: 10px;
	top: 2px;
	content: url(../svg/user.svg);
}

.testimonials .testimonial-text {
	min-width:320px;
}

.bonuses-style {
	text-align: right;
	float: right;
	display: block;
	font-size: 16px;
}

.callback-popup form ul {
	padding-left: 0;
	margin-top: 40px;
}

.callback-popup form .field-form-application li {
	display: inline-block;
	width:47%;
	vertical-align: top;
}

.callback-popup form .field-form-application li label {
	display: block;
}

.callback-popup form ul {
	text-align: center;
}


.callback-popup form ul label {
	text-align: left;
}

.callback-popup form label {
	display: block;
}

.callback-popup form textarea {
	width: 94%;
	margin: 0 auto;
	display: block;
	resize: none;
	height:120px;
	border:1px solid #ccc;
}

.file-popup {
	padding-left:15px;
	padding-top: 10px;
}

.file-popup a {
	font-family: Opensans-regular;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	font-size: 12px;
	text-decoration-line: underline;
	position:relative;
	color: #008AC1;
	padding-left: 22px;
}

.confidenc li {
	width:48%;
	display: inline-block;
}

.confidenc li:first-child {
	font-family: OpenSans-regular;
	font-style: normal;
	font-weight: 300;
	line-height: normal;
	font-size: 12px;
	text-align: center;
	color: #3B4249;
}

.file-popup a:before {
	position: absolute;
	left:0;
	top:2px;
	content:url(../svg/file.svg);
}

.confidenc > li > .btn-send-form {
	display: block;
	background: #9F0226;
	height:47px;
	line-height: 47px;
	text-align: center;
	color:white;
	text-transform: uppercase;
	font-size: 15px;
}

.callback-popup {
	height:640px;
}

.confidenc {
	margin-top: 15px !important;
}

.logo-callback {
	text-align:center;
	margin-top: 40px;
	margin-bottom: 40px;
}

.callback-popup form input {
	margin-bottom: 0;
}

.callback-popup  {
	padding-right: 0 !important;
}












